*{
  font-family: 'Rubik';
}
.heading {
  font-weight: bold;
  font-size: 50px;
  color: #0999f2;
  text-align: center;
}

.main-div{
  margin-top: 10rem !important;
  display: block;
  justify-content: center;
  margin-bottom: 10rem;
  max-width: 1500px;
}

.about {
  max-width: 100%;
  display: flex;
  padding: 5rem;
  gap: 15rem;
  border-bottom: 2px solid #0999f2;
  box-shadow: #0999f246 10px 10px 10px;
  margin: 5rem;
  border-radius: 20px;
  justify-content: center;
}
.img{
  height: 20rem;
  border-radius: 20px;
}
.content {
  font-size: larger;
  font-family: "Rubik", sans-serif;
  height: 90%;
}
